@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.sentence{
  width: 900px;
  background-color: #eff3f4;
  padding: 20px;
  margin: 0 auto;
}
.sentence__content{
  float: left;
  width: 230px;
  padding: 20px;
  margin-left:20px;
  background-color: #3274ae;
}
.sentence__content:first-child{
  margin-left: 0;
}  
.sentence__content__box{
  background-color: #eaf4ff;
  padding:20px;
  border: solid 10px #022336;
}
