@charset "UTF-8";

/* 回答はここに書いてね */
.q4{
  padding: 20px;
  box-sizing: border-box;
}
.q4-contents{
  display: table;
  margin-top: 20px;
  width: 100%;
  background-color: #ECF1F2;
}
.q4-contents:first-child{
  margin-top: 0;
}
.q4-contents-box-pink{
  background-color: #fdc8b8;
  width: 100px; display: table-cell;
  padding: 20px;
  text-align: center;
}
.q4-contents-box-purple{
  background-color: #e0abd9;
  display: table-cell;
  padding: 20px;
  text-align: center;
}
.q4-contents-box-blue{
  background-color: #b6d8ed;
  width: 100px; 
  display: table-cell;
  padding: 20px;
  text-align: center;
}
.q4-contents-box-yellow{
  background-color: #e5d32e;
  display: table-cell;
  padding: 20px;
  text-align: center;
}
.q4-contents-box-red{
  background-color: #ec8f9a;
  display: table-cell;
  padding: 20px;
  text-align: center;
}
.q4-contents-box-green{
  background-color: #8fdcad;
  width: 500px; 
  display: table-cell;
  padding: 20px;
  text-align: center;
}
/* 回答はここに書いてね */
