@charset "UTF-8";

/* 回答はここに書いてね */
.box__box__text{
  background-color: #e6f2ff;
  padding: 10px;
  width: 90px;
}
.box__box.is-textalign .box__box__inner{
  text-align: center;
}
.box__box.is-textalign .box__box__text{
display: inline-block;
}

.box__box.is-margin .box__box__text{
  margin: 0 auto ;
  text-align: center;
}
/*問2*/
.box--around.is-table{
  display: table;
}
.box--around.is-table .box__box{
  background-color: #ecf1f2;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.box--around.is-table .box__box__text{
  background-color: #fff;
  display: inline-block;
}

.box--around.is-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.box--around.is-flex .box__box__text{
  background-color: #fff;
  text-align: center;
}

.box--position .box__box{
  position: relative;
}
.box__box.is-stable .box__box__inner{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
  margin: auto;
}
.box__box.is-flexible .box__box__inner{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* 回答はここに書いてね */